@import "tailwindcss";
@plugin "daisyui" {
    themes:
        light --default,
        dark --prefersdark,
        corporate;
}

@plugin "daisyui/theme" {
    name: "corporate";
    default: true;
    --color-primary: oklch(0.5498 0.2 265.01);
}

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: oklch(0.5498 0.2 265.01);
}

@plugin "daisyui/theme" {
    name: "dark";
    default: true;
    --color-primary: oklch(0.5498 0.2 265.01);
}

.hero-content {
    max-width: 90rem;
}
