@import "tailwindcss";
@plugin "daisyui";

@keyframes mesh {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.artistic-bg {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: mesh 15s ease infinite;
    mask-image: radial-gradient(circle, black 40%, transparent 80%);
}
