@import "tailwindcss";
@plugin "daisyui" {
    themes:
        corporate --default,
        business --prefersdark;
}

@plugin "daisyui/theme" {
    name: "corporate";
    default: true;
    --color-primary: oklch(0.5498 0.2 265.01);
}

@plugin "daisyui/theme" {
    name: "corporate";
    default: true;
    --color-primary: oklch(0.5498 0.2 265.01);
}

@plugin "daisyui/theme" {
    name: "business";
    default: true;
    --color-primary: oklch(0.5498 0.2 265.01);
}

.hero-content {
    max-width: 90rem;
}
