---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";
import mike_headshot from "../assets/mike_headshot.jpg";
---

<MainLayout
    title="Contact Us"
    description="Custom-coded, high-performance websites for local businesses. No bloat, just speed."
>
    <section class="relative isolate px-6 py-24 sm:py-32 lg:px-8">
        <div
            class="absolute inset-x-0 -top-3 -z-10 transform-gpu overflow-hidden px-36 blur-3xl"
            aria-hidden="true"
        >
        </div>
        <div class="mx-auto max-w-4xl">
            <span
                class="rounded-full outline-primary outline-2 px-3 py-1 text-base/6 font-semibold text-primary"
                >Contact
            </span>
            <h1
                class="mt-6 text-4xl font-semibold tracking-tight text-pretty sm:text-5xl"
            >
                Let's Talk About Your Business Needs
            </h1>
        </div>
        <p
            class="mx-auto mt-6 max-w-4xl text-lg font-medium text-pretty sm:text-xl/8"
        >
            We’re ready to take the technical weight off your shoulders. Send us
            an email with your ideas, and a member of our local team will
            respond within 24 hours to help you start your journey toward a
            better web presence.
        </p>
        <div
            class="mx-auto mt-16 max-w-4xl flex flex-col gap-16 sm:gap-y-20 lg:flex-row"
        >
            <form
                id="contact"
                method="POST"
                data-netlify="true"
                action="/success"
                name="contact"
                class="lg:flex-auto"
            >
                <input type="hidden" name="form-name" value="contact" />

                <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
                    <div>
                        <label
                            for="first-name"
                            class="block text-sm/6 font-semibold"
                            >First name</label
                        >
                        <div class="mt-2.5">
                            <input
                                type="text"
                                name="first-name"
                                id="first-name"
                                required
                                autocomplete="given-name"
                                class="block w-full rounded-md bg-white px-3.5 py-2 text-base outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600"
                            />
                        </div>
                    </div>
                    <div>
                        <label
                            for="last-name"
                            class="block text-sm/6 font-semibold"
                            >Last name</label
                        >
                        <div class="mt-2.5">
                            <input
                                type="text"
                                name="last-name"
                                id="last-name"
                                required
                                autocomplete="family-name"
                                class="block w-full rounded-md bg-white px-3.5 py-2 text-base outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600"
                            />
                        </div>
                    </div>
                    <div>
                        <label for="Email" class="block text-sm/6 font-semibold"
                            >Email</label
                        >
                        <div class="mt-2.5">
                            <input
                                type="email"
                                name="email"
                                id="email"
                                required
                                class="block w-full rounded-md bg-white px-3.5 py-2 text-base outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600"
                            />
                        </div>
                    </div>

                    <div>
                        <label
                            for="website"
                            class="block text-sm/6 font-semibold">Website</label
                        >
                        <div class="mt-2.5">
                            <input
                                type="url"
                                name="website"
                                id="website"
                                placeholder="https://example.com"
                                class="block w-full rounded-md bg-white px-3.5 py-2 text-base outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600"
                            />
                        </div>
                    </div>

                    <div class="sm:col-span-2">
                        <label
                            for="message"
                            class="block text-sm/6 font-semibold">Message</label
                        >
                        <div class="mt-2.5">
                            <textarea
                                id="message"
                                name="message"
                                rows="4"
                                required
                                class="block w-full rounded-md bg-white px-3.5 py-2 text-base outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600"
                            ></textarea>
                        </div>
                    </div>
                </div>
                <div class="mt-10">
                    <button
                        type="submit"
                        class="btn btn-primary block w-full rounded-md px-3.5 py-2.5 text-center text-sm font-semibold shadow-xs focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                        >Let’s Talk</button
                    >
                </div>
                <p class="mt-4 text-sm/6 text-gray-500">
                    By submitting this form, I agree to the <a
                        href="#"
                        class="font-semibold text-indigo-600">privacy policy</a
                    >.
                </p>
            </form>
            <div class="lg:mt-6 lg:w-80 lg:flex-none">
                <figure class="mt-10">
                    <blockquote class="text-md font-semibold">
                        <p>
                            “Trust is built on reliability and results. When you
                            partner with us, you’re gaining a dedicated team
                            that treats your site’s performance as our own. I’m
                            personally committed to making sure your transition
                            to a faster, modern web presence is the best
                            investment you make this year.”
                        </p>
                    </blockquote>
                    <figcaption class="mt-10 flex gap-x-6">
                        <Image
                            loading="lazy"
                            src={mike_headshot}
                            alt="Mike Young"
                            class="size-12 flex-none rounded-full bg-gray-50"
                        />
                        <div>
                            <div class="text-base font-semibold">
                                Mike Young
                            </div>
                            <div class="text-sm/6 text-gray-600">
                                Owner, Developer
                            </div>
                        </div>
                    </figcaption>
                </figure>
            </div>
        </div>
    </section>
</MainLayout>
