<li><a aria-label="Home" href="/">Home</a></li>
<li><a aria-label="Services" href="/services">Services</a></li>
<!-- <li><a href="/portfolio">Portfolio</a></li> -->
<li><a aria-label="Pricing" href="/pricing">Pricing</a></li>
<li><a aria-label="Contact" href="/contact">Contact</a></li>
<li>
    <a
        aria-label="Contact"
        href="/contact"
        class="btn btn-primary btn-sm text-white ml-2">Work With Us</a
    >
</li>
