---
// Get the current URL path from Astro
const { pathname } = Astro.url;

// A helper function to check if the link is active
// We trim trailing slashes to ensure "/" matches "/"
const isActive = (path: string) =>
    pathname === path || pathname === path + "/" ? "active" : "";
---

<li><a aria-label="Go to Homepage" href="/" class={isActive("/")}>Home</a></li>
<li>
    <a
        aria-label="Go to Services Page"
        href="/services"
        class={isActive("/services")}>Services</a
    >
</li>
<li>
    <a
        aria-label="Go to Pricing Page"
        href="/pricing"
        class={isActive("/pricing")}>Pricing</a
    >
</li>
<li>
    <a
        aria-label="Go to Contact Page"
        href="/contact"
        class={isActive("/contact")}>Contact</a
    >
</li>
<li class="mt-4 lg:mt-0 lg:ml-2">
    <a
        aria-label="Go to Contact Page"
        href="/contact"
        class="btn btn-primary btn-sm text-white"
    >
        Work With Us
    </a>
</li>

<style>
    .active {
        font-weight: bold;
    }
</style>
