---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
const { title } = Astro.props;
const currentYear = new Date().getFullYear();
---

<html lang="en" data-theme="light">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{title}</title>
    </head>
    <body class="min-h-screen flex flex-col">
        <Navbar />
        <main class="grow">
            <slot />
        </main>
        <footer class="footer footer-center p-4 bg-base-300 text-base-content">
            <p>Copyright © {currentYear} - All right reserved</p>
        </footer>
    </body>
</html>
